<header>
    <section class="texto-header">
        <h1>Posts</h1>
        <p>Los posts son los artículos que se publican en algun blog</p>
    </section>
</header>


<section class="continfo">
    <br>
    <div class="slide">
    </div>
</section>

<section class="continfo">
    <h1 class="titulo">Información</h1>
    <div class="contenedor-info">
        <div class="contenedor-texto">
            <p>La aplicación esta diseñada para registrar usuarios y subir sus datos a una base de
                datos.</p>
        </div>
     </div>
</section>