<form #usuario="ngForm">
    <div class="section2">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3"><span>Iniciar Sesión</span><span>Registrarse</span></h6>
                        <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
                        <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-4 pb-3">Iniciar Sesión</h4>
                                            <div class="form-group">
                                                <input type="email" id="correo1" name="correoI" class="form-style"
                                                    placeholder="Correo " autocomplete="off" [(ngModel)]="user">
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="contrai" class="form-style"
                                                    placeholder="Contraseña" id="contraI" autocomplete="off" [(ngModel)]="password">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <button href="#" class="btn mt-4">Ingresar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-back">
                                    <div class="center-wrap">
                                        <div class="section text-center">
                                            <h4 class="mb-1 pb-0">Registrarse</h4>
                                            <div class="form-group mt-2">
                                                <input type="text" name="nombre" class="form-style"
                                                    placeholder="Nombre" id="nombre" autocomplete="off" [(ngModel)]="nombre">
                                                <i class="input-icon uil uil-user"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" name="apellidos" class="form-style"
                                                    placeholder="Apellido" id="ape" autocomplete="off" [(ngModel)]="apellido">
                                                <i class="input-icon uil uil-user"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="text" name="usuario" class="form-style"
                                                    placeholder="Usuario" id="user" autocomplete="off" [(ngModel)]="user">
                                                <i class="input-icon uil uil-user"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input type="password" name="contra" class="form-style"
                                                    placeholder="Contraseña" id="contra" autocomplete="off" [(ngModel)]="password">
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>

                                            <button (click)="registrar();" class="btn mt-4" href="#"> Registrarse</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</form>