  h1 {
    text-align: center;
    font-size: 50px;
    color: hsla(154, 100%, 1%, 0.938);
    font-family: sans-serif;
  }
  .conte {
    background: hsla(160, 60%, 32%, 0.822);
  }
    .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }

  .post {
    background-color: hsla(46, 74%, 82%, 0.932);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  }

  .post h2 {
    text-align: left;
    font-size: 40px;
    font-family: serif;
  }

  .post p {
    text-align: left;
    font-size: 20px;
    font-style: italic;
    font-family: serif;
  }

