<div class="container">
    <div class="post">
        <h3>Título</h3>
        <input type="text">
        <p>Contenido del post</p>
        <input type="text">
        <div class="actions">
            <a routerLink="/registro" >Crear Post</a>
        </div>
    </div>
    <div class="post">
        <h2>Título del Post 1</h2>
        <p>Contenido del post 1</p>
    </div>
    <div class="post">
        <h2>Título del Post 2</h2>
        <p>Contenido del post 2</p>
    </div>
    <div class="post">
        <h2>Título del Post 3</h2>
        <p>Contenido del post 3</p>
    </div>
</div>