<header>
    <section class="texto-header">
        <h1>Posts</h1>
        <p>Se creativo con tus ideas y no dudes en publicarlas ;D</p>
    </section>
</header>


<section class="continfo">
    <br>
    <div class="slide">
    </div>
</section>


<section class="continfo">
    <br>
    <h1 class="titulo">Información</h1>
    <div class="contenedor-info">
        <div class="contenedor-texto">
            <p>La aplicación esta diseñada para registrar usuarios y permiterles hacer las publicaciones que 
               deseen.</p>
        </div>
     </div>
</section>